/* _base.scss */
@use 'sass:color';
@use '_variables';
@use '_typography';

// Paragraph styles
p {
    color: variables.$charcoal;
    margin: 20px 0;
    font-weight: typography.$font-normal;
}

// Button styles

.btn {
    padding: variables.$btn-padding;
    margin: variables.$btn-margin;
    border-radius: variables.$btn-border-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: typography.$font-medium;
    line-height: 1.5;
    text-decoration: none;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
        pointer-events: all !important;
    }
}

.btn-primary {
    background-color: variables.$primary;
    color: variables.$white;

    &:hover:not(:disabled) {
        background-color: variables.$primary-hover; 
    }
}

.btn-secondary {
    background-color: variables.$secondary;
    color: variables.$white;
    
    &:hover:not(:disabled) {
        background-color: variables.$secondary-hover; 
    }
}

.btn-success {
    background-color: variables.$success;
    color: variables.$white;
    
    &:hover:not(:disabled) {
        background-color: variables.$success-hover; 
    }
}

.btn-danger {
    background-color: variables.$danger;
    color: variables.$white;
    
    &:hover:not(:disabled) {
        background-color: variables.$danger-hover; 
    }
}

.btn-warning {
    background-color: variables.$warning;
    color: variables.$white;
    
    &:hover:not(:disabled) {
        background-color: variables.$warning-hover; 
    }
}

.btn-info {
    background-color: variables.$info;
    color: variables.$white;
    
    &:hover:not(:disabled) {
        background-color: variables.$info-hover; 
    }
}

// Link styles
a {
    color: variables.$primary;
    cursor: pointer;
    display: inline-block;
    font-weight: typography.$font-normal;
    text-decoration: underline;
    margin: variables.$btn-margin;
        
    &:hover:not(:disabled) {
        color: variables.$link-hover; 
    }
}
// List styles

ol, ul, dl {
    font-size: typography.$font-md;
    font-weight: typography.$font-normal;
    padding-left: variables.$padding-lg;
    margin-bottom: typography.$font-lg;
}
// Unordered Lists

ul {
    list-style-type: variables.$list-circle;
}

// Ordered Lists

ol {
    list-style-type: variables.$list-alpha-upper;
}

// Description Lists

dl {
    padding-bottom: variables.$padding-sm;
}

dt {
    text-transform: variables.$uppercase;
}

dd {
    text-transform: variables.$lowercase;
}

ol li, ul li, dl dd {
    margin-bottom: typography.$font-xs;
}