/* _base.scss */

@use '_variables';
@use '_typography';

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: typography.$font-bold;
    color: variables.$blue-iris;
}

h1 {
   font-size: typography.$font-sizes-h1;
}

h2 {
    font-size: typography.$font-sizes-h2;
}

h3 {
    font-size: typography.$font-sizes-h3;
}

h4 {
    font-size: typography.$font-sizes-h4;
}

h5 {
    font-size: typography.$font-sizes-h5;
}

h6 {
    font-size: typography.$font-sizes-h6;
}

/* Paragraph styles */
p {
    color: variables.$black-charcoal;
    margin: 20px 0;
    font-weight: typography.$font-normal;
}

/* Button styles */

.btn {
    padding: variables.$btn-padding;
    margin: variables.$btn-margin;
    border-radius: variables.$btn-border-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: typography.$font-medium;
    line-height: 1.5;
    text-decoration: none;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
        pointer-events: all !important;
    }
}

.btn-primary {
    background-color: variables.$primary;
    color: variables.$white;

    &:hover {
        background-color: variables.$primary-hover; 
    }
}

.btn-secondary {
    background-color: variables.$secondary;
    color: variables.$white;
    
    &:hover {
        background-color: variables.$secondary-hover; 
    }
}

.btn-success {
    background-color: variables.$success;
    color: variables.$white;
    
    &:hover {
        background-color: variables.$success-hover; 
    }
}

.btn-danger {
    background-color: variables.$danger;
    color: variables.$white;
    
    &:hover {
        background-color: variables.$danger-hover; 
    }
}

.btn-warning {
    background-color: variables.$warning;
    color: variables.$white;
    
    &:hover {
        background-color: variables.$warning-hover; 
    }
}

.btn-info {
    background-color: variables.$info;
    color: variables.$white;
    
    &:hover {
        background-color: variables.$info-hover; 
    }
}

