// Font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// Font headings sizes
$font-h1: 4rem;
$font-h2: 3.5rem;
$font-h3: 3rem;
$font-h4: 2.5rem;
$font-h5: 2rem;
$font-h6: 1.5rem;

// Font sizes
$font-xs: 0.8rem;
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.5rem;
$font-2x: 2rem;
$font-3x: 3rem;
$font-4x: 4rem;
$font-5x: 5rem;

// Headings
h1 {
    font-size: $font-3x;
    font-weight: $font-extrabold;
    margin-bottom: $font-md;
}

h2 {
    font-size: $font-2x;
    font-weight: $font-bold;
    margin-bottom: $font-md;
}

h3 {
    font-size: $font-xl;
    font-weight: $font-semibold;
    margin-bottom: $font-md;
}

h4 {
    font-size: $font-lg;
    font-weight: $font-semibold;
    margin-bottom: $font-md;
}

h5 {
    font-size: $font-md;
    font-weight: $font-semibold;
    margin-bottom: $font-md;
}

h6 {
    font-size: $font-sm;
    font-weight: $font-medium;
    margin-bottom: $font-md;
}

// Paragraph styles
p {
    font-size: $font-md;
    font-weight: $font-normal;
    margin-bottom: $font-md;
}