// Font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Font size
$font-sizes-h1: 5rem;
$font-sizes-h2: 4.5rem;
$font-sizes-h3: 4rem;
$font-sizes-h4: 3.5rem;
$font-sizes-h5: 3rem;
$font-sizes-h6: 2.5rem;