// Utility Classes
@mixin text-center {
    text-align: center;
}

// Center Text
.text-center {
    @include text-center;
}

@mixin margin-top-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}

// Add margins between blocks

.margin-top-bottom {
    @include margin-top-bottom;
}

@mixin list-center {
    display: inline-block;
    text-align: left;
}

.list-center {
    @include list-center;
}






