// Colors
$iris: #5D3FD3;
$white: #FFFFFF;
$neon-blue: #1F51FF;
$zaffre: #0818A8;
$gunmetal-gray: #818589;
$charcoal: #36454F;
$forest-green: #228B22;
$hunter-green: #355E3B;
$carmine: #D70040;
$maroon: #800000;
$yellow-orange: #FFAA33;
$dark-yellow: #8B8000;
$verdigris: #40B5AD;
$teal: #008080;
$neon-pink: #FF10F0;

// Margins
$margin-auto: auto;

// Widths
$container-max-width-xxl: 1320px;

// Line height
$line-height-2: 2;

// Button
$btn-margin:  0.25rem;
$btn-padding: 0.4rem 0.8rem;
$btn-border-radius: 5px;

// Link
$link-hover: $neon-pink;

// Theme Colors
$primary: $neon-blue;
$primary-hover: $zaffre;
$secondary: $gunmetal-gray;
$secondary-hover: $charcoal;
$success: $forest-green;
$success-hover: $hunter-green;
$danger: $carmine;
$danger-hover: $maroon;
$warning: $yellow-orange;
$warning-hover: $dark-yellow;
$info: $verdigris;
$info-hover: $teal;