// Colors
$iris: #5D3FD3;
$neon-blue: #1F51FF;
$zaffre: #0818A8;
$gunmetal-gray: #818589;
$charcoal: #36454F;
$forest-green: #228B22;
$hunter-green: #355E3B;
$carmine: #D70040;
$maroon: #800000;
$yellow-orange: #FFAA33;
$dark-yellow: #8B8000;
$verdigris: #40B5AD;
$teal: #008080;
$neon-pink: #FF10F0;

$white: #FFFFFF;
$gray-100: #f8f9fa;
$gray-900: #212529;

// Button
$btn-margin:  0.25rem;
$btn-padding: 0.4rem 0.8rem;
$btn-border-radius: 5px;

// Link
$link-hover: $neon-pink;

// Theme Colors
$primary: $neon-blue;
$primary-hover: $zaffre;
$secondary: $gunmetal-gray;
$secondary-hover: $charcoal;
$success: $forest-green;
$success-hover: $hunter-green;
$danger: $carmine;
$danger-hover: $maroon;
$warning: $yellow-orange;
$warning-hover: $dark-yellow;
$info: $verdigris;
$info-hover: $teal;
$light: $gray-100;
$dark: $gray-900;

// Padding
$padding-sm: 30px;
$padding-md: 45px;
$padding-lg: 60px;

// List-Style Types
$list-disc: disc;
$list-circle: circle;
$list-square: square;
$list-decimal: decimal;
$list-alpha-upper: upper-alpha;
$list-lower-roman: lower-roman;

// Text Style Types
$uppercase: uppercase;
$lowercase: lowercase;
$capitalize: capitalize;
$none: none;

// Table Style
$tbl-border: 1px solid;
$tbl-width: 80%;
$tbl-padding: 20px;

// Text Input Style
$txt-border: 2px solid $verdigris;
$txt-width: 150px;
$txt-padding: 15px;
